<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/forget.css">

</head>

<body>

    <img  id="dark-rect" src="../img/dark_Rectangle348.png" alt="rect">
    <img id="side-rect" src="../img/Rectangle348.png" alt="rect">

    <div class="container">

        <div class="topbar">
            <div class="logo">
                <img src="../img/logo.png" alt="Wizick">
            </div>
            <i><img class="icon menu" src="../img/icon/align-left.png" alt="" hidden></i>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode">
                <i><img src="../img/icon/sun.png" alt=""></i>
                <i><img class="moon" src="../img/icon/moon.png" alt=""></i>
            </label>
        </div>
        <section id="sect-1">
            <div id="login-img" class="sect-1">
                <img src="../img/Group371.png" alt="Reset Password">
            </div>
            <div id="form" class="sect-1">
                <div class="sect-head">
                    <h1>Forgot <span>Password</span></h1>
                    <p>Please Enter Your Email Address To <br>
                        Receive a Verification Link.</p>
                </div>
                <form action="#">
                    <label for="email" class="input-label">Email address</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email">

                    <input type="submit" value="Send">
                </form>
            </div>
        </section>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>