<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save as template II</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/save-temp.css">

</head>

<body>


    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="../img/logo.png" alt="Wizick">
            </div>
            <ul class="side-menu top">
                <li>
                    <a href="#">
                        <i><img class="icon" src="../img/icon/home.png" alt=""></i>
                        <div>Home</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/dashboard.png" alt=""></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/icon-park-outline_category-management.png" alt=""></i>
                        <div>Document Manager</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img class="icon" src="../img/icon/akar-icons_edit.png" alt=""></i>
                        <div> DocumentEditor</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/library.png" alt=""></i>
                        <div> Clause Library</div>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/heroicons-outline_template.png" alt=""></i>
                        <div>Template</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/gg_insights.png" alt=""></i>
                        <div> Insight</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img class="icon" src="../img/icon/legal.png" alt=""></i>
                        <div> Legal Terminology</div>
                    </a>
                </li>

                <hr>

                <li class="username tablinks" id="user-tab" onclick="openTab(event, 'user')">
                    <a href="#">
                        <div class="profile-pic-div">
                            <img src="../img/nodp.png" class="display-pic" alt="">
                        </div>
                        <div>Wizick User</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i><img class="icon" src="../img/icon/Notification.png" alt=""></i>
                        <div> Notification <span class="notify">2</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i> <img class="icon" src="../img/icon/logout.png" alt=""></i>
                        <div> Log out</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <i><img class="icon menu" src="../img/icon/align-left.png" alt="" hidden></i>
                <input type="checkbox" id="switch-mode" hidden>
                <label for="switch-mode" class="switch-mode">
                    <i><img src="../img/icon/sun.png" alt=""></i>
                    <i><img class="moon" src="../img/icon/moon.png" alt=""></i>
                </label>
            </div>

            <!-- <img src="../img/DOCUMENT_ICON_III.png" class="document-img" alt=""> -->
            <section id="save-as">
                <button class="btn-preview">Preview</button>
                <div id="cards">
                    <div id="form" class="card">
                        <div class="sect-head">
                            <h1><span>Questions</span></h1>
                        </div>

                        <form action="#">
                            <label for="" class="input-label">What is question No. 1?</label>
                            <input type="text" id="" name="" placeholder="Fill in Questions">
                            <button class="btn-copy">Copy answer tag</button>
                            <label for="" class="input-label">What is question No. 2?</label>
                            <input type="text" id="" name="" placeholder="Fill in Questions">
                            <button class="btn-copy">Copy answer tag</button>
                            <label for="" class="input-label">What is question No. 3?</label>
                            <input type="text" id="" name="" placeholder="Fill in Questions">
                            <button class="btn-copy">Copy answer tag</button>
                            
                        </form>
                    </div>
                    <div class="card index">
                        
                    </div>
                </div>
                <br>
                <button class="btn-next">Next</button>
                <button class="btn-cancel">Cancel</button>
                <button class="btn-finish active">Finish</button>
            </section>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>